{
  "extends": "airbnb",
  "plugins": ["import"],
  "settings": {
    "import/resolver": {
      "webpack": { config: './config/webpack/config.js' }
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": 0,
    "global-require": 0,
    }
}
